@import '../../../../sass/conf/conf';

.person {
    height: 9px;
    background-image: url('../../../../../../assets/img/menuIcons/person.png');
    background-repeat: no-repeat;
    background-size: 11px 11px;
    margin-left: 7px;
}

.accounting {
    height: 9px;
    background-image: url('../../../../../../assets/img/menuIcons/accounting.png');
    background-repeat: no-repeat;
    background-size: 11px 11px;
    margin-left: 7px;

}

.anbar {
    height: 9px;
    background-image: url('../../../../../../assets/img/menuIcons/Anbar.png');
    background-repeat: no-repeat;
    background-size: 11px 11px;
    margin-left: 7px;

}

.Khazane {
    height: 9px;
    background-image: url('../../../../../../assets/img/menuIcons/Khazane.png');
    background-repeat: no-repeat;
    background-size: 11px 11px;
    margin-left: 7px;
}

.hoghogh{
    height: 9px;
    background-image: url('../../../../../../assets/img/menuIcons/Manabe.png');
    background-repeat: no-repeat;
    background-size: 11px 11px;
    margin-left: 7px;

}

.tadarokat {

    height: 9px;
    background-image: url('../../../../../../assets/img/menuIcons/Tadarokat.png');
    background-repeat: no-repeat;
    background-size: 11px 11px;
    margin-left: 7px;

}

.tolid {

    height: 9px;
    background-image: url('../../../../../../assets/img/menuIcons/Modiriat-tolid.png');
    background-repeat: no-repeat;
    background-size: 11px 11px;
    margin-left: 7px;
}

.baha {
    height: 9px;
    background-image: url('../../../../../../assets/img/menuIcons/Baha.png');
    background-repeat: no-repeat;
    background-size: 11px 11px;
    margin-left: 7px;

}

.bodje {
    height: 9px;
    background-image: url('../../../../../../assets/img/menuIcons/bodje.png');
    background-repeat: no-repeat;
    background-size: 11px 11px;
    margin-left: 7px;

}

