.ui-button-icon-only .fa, .ui-button-text-icon-left .fa, .ui-button-text-icon-right .fa {
  top: 25% !important;
}

.ng-tns-c12-0.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-shadow.ui-dialog-draggable.ng-trigger.ng-trigger-dialogState{
  width: 600px !important;
  left: 20% !important;
}

.ui-dialog .ui-dialog-titlebar-close{
  float: left !important;
}
.ui-dialog.ui-widget .ui-dialog-titlebar .ui-dialog-title{
  float: right !important;
}


.ui-dialog-content.ui-widget-content{
  width: 550px !important;

}


.ui-dropdown-panel .ui-dropdown-item{
  width: 100%;
}

.ui-dropdown label.ui-dropdown-label{
  color: black !important;
}
